.halfcolborder {
  padding-right: 24px;
  margin-right: 25px;
  border-right: 1px solid #eeeeee;
  padding-right: 14px;
  margin-right: 15px; }

.span-5.extended {
  width: 210px; }

.span-17.extended {
  width: 690px; }

html {
  font-size: 1em; }

body {
  background-color: #1e5a41;
  overflow-x: hidden; }

a {
  color: #1e5a41;
  text-decoration: none; }
  a:hover, a:active, a:visited {
    color: #1e5a41;
    text-decoration: underline; }

input[type="text"] {
  margin: 0; }

textarea {
  padding: 0; }

input.search {
  background: url(../images/search.png) 175px center no-repeat;
  padding-right: 17px;
  padding-left: 4px;
  width: 187px;
  color: #739565;
  line-height: 1.25rem; }
  input.search:focus {
    color: #1e5a41;
    border-color: #f68044; }

p {
  font-size: 0.9rem;
  line-height: 1.08rem;
  margin: 0; }

.top-header {
  width: 950px;
  margin: 0;
  float: left;
  margin-right: 10px;
  color: #1e5a41;
  background-color: #c8d08a;
  height: 9rem;
  width: 100%;
  margin-left: -20rem;
  padding-left: 20rem;
  padding-right: 20rem; }
  .top-header .logo {
    width: 230px;
    float: left;
    margin-right: 10px;
    padding-left: 160px;
    font-family: "Sonsie One", cursive;
    font-size: 2.5rem;
    line-height: 2.75rem;
    padding-top: 0.75rem; }
  .top-header h1 {
    color: #1e5a41; }
  .top-header .baseline {
    width: 390px;
    float: left;
    margin-right: 10px;
    font-family: "Parisienne", cursive;
    font-size: 1.5rem;
    margin-top: 1.3rem;
    text-align: center; }
  .top-header .socialmedia {
    width: 150px;
    float: left;
    margin-right: 10px;
    margin-right: 0;
    text-align: right;
    padding-top: 5rem; }
    .top-header .socialmedia .social {
      display: inline; }
      .top-header .socialmedia .social a:hover {
        text-decoration: none; }

nav {
  width: 950px;
  margin: 0;
  float: left;
  margin-right: 10px;
  font-family: "Dosis", sans-serif;
  font-weight: 500;
  margin-top: -1.89rem; }
  nav .major {
    width: 950px;
    margin: 0;
    float: left;
    margin-right: 10px;
    color: white;
    font-size: 0.9rem;
    list-style: none outside none;
    padding: 0;
    margin: 0; }
    nav .major li {
      width: 150px;
      float: left;
      margin-right: 10px;
      background-color: #1e5a41;
      -moz-transition: background 1s ease 0s;
      -webkit-transition: background 1s ease 0s;
      -o-transition: background 1s ease 0s;
      padding-top: 0.27rem;
      padding-bottom: 0.27rem;
      text-align: center;
      margin-right: 0;
      width: 159px; }
      nav .major li:first-child {
        border-radius: 0.3rem 0 0 0; }
      nav .major li:last-child {
        margin-right: 0;
        border-radius: 0 0.3rem 0 0;
        width: 155px; }
      nav .major li:hover {
        background-color: #f68044;
        -moz-transition: background 250ms ease 0s;
        -webkit-transition: background 250ms ease 0s;
        -o-transition: background 250ms ease 0s; }
      nav .major li.active {
        display: block;
        background-color: #fed350;
        color: #1e5a41; }
        nav .major li.active a {
          border-left: 1px solid transparent;
          color: #1e5a41;
          font-weight: bold; }
      nav .major li a {
        display: block;
        border-left: 1px solid white;
        color: white;
        text-decoration: none; }
    nav .major li:first-child a,
    nav .major li.active + li a {
      border-left: 1px solid transparent; }
  nav .minor {
    width: 950px;
    margin: 0;
    float: left;
    margin-right: 10px;
    background-color: #fed350;
    color: #1e5a41;
    border-bottom: 1px solid #1e5a41;
    list-style: none outside none;
    padding: 0;
    margin: 0;
    font-size: 0.8rem; }
    nav .minor li {
      width: 150px;
      float: left;
      margin-right: 10px;
      padding-top: 0.24rem;
      padding-bottom: 0.24rem;
      text-align: center;
      margin-right: 0;
      width: 159px; }
      nav .minor li:last-child {
        margin-right: 0;
        width: 155px; }
      nav .minor li:hover {
        background-color: #f68044;
        -moz-transition: background 250ms ease 0s;
        -webkit-transition: background 250ms ease 0s;
        -o-transition: background 250ms ease 0s; }
      nav .minor li a {
        color: #1e5a41;
        text-decoration: none; }

.content-container {
  width: 910px;
  float: left;
  margin-right: 10px;
  margin-right: 0;
  width: 930px;
  background-color: white;
  padding: 20px 10px;
  border-radius: 0 0 0.2rem 0.2rem; }

#widgets {
  width: 190px;
  float: left;
  margin-right: 10px;
  width: 210px;
  margin-right: 0; }

#definition {
  width: 910px;
  float: left;
  margin-right: 10px;
  margin-right: 0;
  width: 930px;
  color: #1e5a41;
  text-align: center;
  font-family: "Dosis", sans-serif;
  font-size: 1.08rem;
  font-weight: 500;
  margin-bottom: 1rem; }
  #definition span {
    text-transform: uppercase; }

#content {
  width: 670px;
  float: left;
  margin-right: 10px;
  padding-right: 24px;
  margin-right: 25px;
  border-right: 1px solid #eeeeee;
  padding-right: 14px;
  margin-right: 15px;
  width: 690px;
  font-family: "Karla", sans-serif;
  padding-bottom: 1rem; }
  #content #article-list {
    width: 670px;
    float: left;
    margin-right: 10px;
    width: 690px;
    margin-right: 0; }
    #content #article-list article {
      width: 670px;
      float: left;
      margin-right: 10px;
      width: 690px;
      margin-right: 0;
      padding-bottom: 0.9rem;
      margin-top: 0.9rem;
      margin-bottom: 0.9rem; }
      #content #article-list article .illustration {
        width: 150px;
        float: left;
        margin-right: 10px;
        float: left; }
      #content #article-list article header {
        width: 510px;
        float: left;
        margin-right: 10px;
        font-size: 0.9rem;
        margin-bottom: 0.9rem; }
        #content #article-list article header .category a {
          color: #f14d4d; }
          #content #article-list article header .category:after {
            content: " | ";
            color: #cccccc; }
        #content #article-list article header .creation-date {
          color: #1e5a41; }
          #content #article-list article header .creation-date:after {
            content: " | ";
            color: #cccccc; }
        #content #article-list article header .author {
          color: #1e5a41; }
        #content #article-list article header h2 {
          font-size: 0.9rem;
          font-weight: bold;
          margin: 0; }
  #content #article-full p {
    text-align: justify;
    font-size: 0.9rem;
    line-height: 1.08rem;
    margin-top: 0.9rem; }
  #content #article-full img.right {
    margin-left: 0.45rem; }
  #content #article-full img.left {
    margin-right: 0.45rem; }
  #content #article-full h2 {
    line-height: 1.5rem; }
    #content #article-full h2 .title {
      font-size: 1.5rem;
      display: block;
      margin-bottom: 0; }
    #content #article-full h2 .creation-date {
      display: inline;
      color: #1e5a41;
      font-size: 0.9rem;
      font-weight: 500; }
    #content #article-full h2 .category {
      display: inline;
      font-size: 0.9rem;
      font-weight: 500;
      color: #f14d4d; }
      #content #article-full h2 .category:after {
        content: " | ";
        color: #cccccc; }
  #content #article-full .author {
    float: right;
    width: 220px;
    max-height: 4.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.8rem; }
    #content #article-full .author .thumbnail {
      float: right; }
    #content #article-full .author .name {
      font-weight: bold; }

.newsletter img {
  margin-right: 0.45rem;
  vertical-align: middle;
  width: 2rem;
  height: auto; }

.heading {
  box-shadow: 0 2px 2px grey;
  line-height: 1.25rem;
  margin-bottom: 0.45rem;
  text-align: center; }
  .heading.yellow {
    background-color: #fed350; }
    .heading.yellow h2 {
      color: #1e5a41; }
  .heading.orange {
    background-color: #f68044; }
  .heading.red {
    background-color: #f14d4d; }
  .heading h2 {
    color: white;
    display: inline;
    font-size: 0.9rem; }
  .heading .feed {
    float: right;
    padding-right: 0.27rem; }
  .heading img {
    vertical-align: middle;
    width: 0.9rem;
    height: auto; }

aside.right {
  margin-left: 0.27rem;
  margin-bottom: 0.27rem; }

.emphasis {
  margin-top: 1rem; }
  .emphasis h3,
  .emphasis p {
    margin-bottom: 0.45rem; }
  .emphasis h3 {
    font-size: 0.9rem;
    font-weight: bold; }
  .emphasis section p {
    text-indent: 1rem; }
  .emphasis .context {
    color: #1e5a41;
    border-bottom: 1px dotted lightgray; }
  .emphasis.first .context {
    border: 0; }
  .emphasis.first p {
    text-indent: 0; }

footer {
  width: 950px;
  margin: 0;
  float: left;
  margin-right: 10px;
  display: block;
  font-family: "Karla", sans-serif;
  padding-top: 1rem; }
  footer .columns {
    width: 950px;
    margin: 0;
    float: left;
    margin-right: 10px;
    margin-right: 0;
    overflow: hidden; }
  footer .column {
    width: 230px;
    float: left;
    margin-right: 10px;
    margin-bottom: -99999px;
    padding-bottom: 99999px; }
    footer .column:not(:last-child) {
      padding-right: 4px;
      margin-right: 5px;
      border-right: 1px solid #eeeeee; }
    footer .column:last-child {
      margin-right: 0; }
    footer .column h2 {
      font-size: 0.8rem;
      color: white;
      font-weight: 600;
      margin: 2rem;
      margin-top: 0.5rem;
      margin-bottom: 1rem;
      margin-bottom: 1.5rem;
      text-transform: uppercase; }
    footer .column ul {
      list-style: none outside none;
      padding: 0;
      margin: 2rem;
      margin-top: 1rem;
      margin-bottom: 1rem;
      color: white; }
      footer .column ul li {
        font-size: 0.8rem; }
        footer .column ul li a {
          color: white;
          text-decoration: none; }
          footer .column ul li a:hover {
            color: #c8d08a; }
  footer .credits {
    width: 950px;
    margin: 0;
    float: left;
    margin-right: 10px;
    margin-right: 0;
    text-align: center;
    font-size: 0.9rem;
    font-weight: 400;
    color: #c0ead9;
    margin-top: 1rem;
    margin-bottom: 3rem; }
    footer .credits a {
      color: white;
      font-weight: 600;
      text-decoration: none; }
      footer .credits a:hover {
        color: #c8d08a; }

#sharebox {
  display: block;
  float: right;
  margin-top: 0.9rem;
  margin-bottom: 1.8rem; }

#comment-write {
  width: 670px;
  float: left;
  margin-right: 10px;
  margin-bottom: 1.8rem; }
  #comment-write h3 {
    background-image: url("../images/yellowquote.png");
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 2rem 2rem;
    padding-left: 2.5rem;
    padding-top: 0.27rem;
    padding-bottom: 0.27rem; }
  #comment-write label {
    width: 190px;
    float: left;
    margin-right: 10px;
    clear: left;
    font-size: 0.9rem;
    color: black; }
  #comment-write input {
    width: 230px;
    float: left;
    margin-right: 10px;
    margin-right: 0;
    background-color: #dfe9e1;
    border: 1px solid #cccccc;
    border-radius: 0.27rem;
    color: #1e5a41;
    padding: 0.27rem; }
    #comment-write input:-webkit-input-placeholder {
      color: #739565; }
    #comment-write input:-moz-placeholder {
      color: #739565; }
    #comment-write input:focus {
      border-color: #f68044; }
  #comment-write textarea {
    width: 670px;
    float: left;
    margin-right: 10px;
    margin-right: 0;
    padding: 0;
    background-color: #dfe9e1;
    border: 1px solid #cccccc;
    color: #1e5a41;
    border-radius: 0.27rem; }
    #comment-write textarea:focus {
      border-color: #f68044; }
  #comment-write input[type="submit"] {
    width: 150px;
    float: left;
    margin-right: 10px;
    margin-right: 0;
    color: #1e5a41;
    float: right;
    border: 1px solid #888888;
    font-weight: bold;
    padding-top: 0.27rem;
    padding-bottom: 0.27rem; }

#comment-list {
  width: 670px;
  float: left;
  margin-right: 10px;
  margin-top: 0.9rem;
  margin-bottom: 1.8rem; }
  #comment-list h3 {
    background-image: url("../images/yellowquote.png");
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 2rem 2rem;
    padding-left: 2.5rem;
    padding-top: 0.27rem;
    padding-bottom: 0.27rem; }
  #comment-list .comment {
    font-size: 0.9rem;
    margin-bottom: 0.9rem; }
    #comment-list .comment .info {
      padding: 0;
      margin: 0;
      margin-bottom: 0.27rem;
      background: none;
      border: none;
      display: block; }
      #comment-list .comment .info .username {
        font-weight: bold;
        display: inline;
        color: black; }
      #comment-list .comment .info .username:after {
        content: "|";
        font-weight: normal;
        color: #cccccc;
        padding-left: 0.27rem;
        padding-right: 0.27rem; }
      #comment-list .comment .info .creation-date {
        display: inline;
        color: #1e5a41; }
    #comment-list .comment .text {
      margin-bottom: 1.08rem; }

#page-list {
  width: 670px;
  float: left;
  margin-right: 10px;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  text-align: center; }
  #page-list li {
    display: inline-block;
    margin-right: 0.24rem; }
    #page-list li a {
      display: block;
      border: 1px solid #cccccc;
      width: 1.6rem;
      font-size: 0.8rem;
      text-align: center;
      vertical-align: middle;
      background-color: #dfe9e1;
      padding: 0;
      padding-top: 0.24rem;
      padding-bottom: 0.24rem;
      -moz-transition: background 250ms ease 0s, border 150ms ease 0s;
      -webkit-transition: background 250ms ease 0s, border 150ms ease 0s;
      -o-transition: background 250ms ease 0s, border 150ms ease 0s;
      text-decoration: none; }
      #page-list li a.begin, #page-list li a.end, #page-list li a.prev, #page-list li a.next {
        background-color: #a3bfa8; }
      #page-list li a.empty {
        background-color: white;
        color: #cccccc; }
      #page-list li a.active {
        color: white;
        background-color: #1e5a41; }
      #page-list li a:hover {
        background-color: #f68044;
        border-color: #f14d4d;
        -moz-transition: background 250ms ease 0s, border 150ms ease 0s;
        -webkit-transition: background 250ms ease 0s, border 150ms ease 0s;
        -o-transition: background 250ms ease 0s, border 150ms ease 0s; }
