
.debug {
    color: black;
    background: #ffa;
    border: 1px solid red;
    padding: 0.5rem;
   
    visibility: hidden;
    display: none; 
    
}

.example {
    font-size: 80%;
    color: #aaa;
}
